.header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  }

  .headerWrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }

  .headerLogo {
    display: flex;
    gap: 8px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -1px;
    align-items: center;
  }

  .headerNavMenu {
    display: flex;
    gap: 47px;
    font-weight: 700;
  }
